@using FamilyTree.Models
@using FamilyTree.Models.Enums
@model FamilyTree.Models.UserModel
@{
    ViewBag.Title = "Sign In";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="text-on-pannel text-muted"><strong class="text-uppercase"> Sign In with your Account Info </strong></h3>
        <p></p>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserEmail)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserEmail)
                @Html.ValidationMessageFor(model => model.UserEmail)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserPassword)
            </div>
            <div class="editor-field" type="date">
                @Html.EditorFor(model => model.UserPassword)
                @Html.ValidationMessageFor(model => model.UserPassword)
            </div>

            <br />
            <br />
            <p>
                <input type="submit" value="Sign In" />
            </p>

        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        <p></p>
    </div>

</div>