@using FamilyTree.Models
@model FamilyTree.Models.PersonModelList

@{
    ViewBag.Title = "Your Family";

}
@Scripts.Render("~/Content/Site.css")


<h4>Family Member List</h4>

<table class="table">
  <thead>
    <tr>
        <th></th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            BirthDay
        </th>
        <th>
            Relationship
        </th>

    </tr>
  </thead>
    <tbody>
  
    @foreach (var item in Model.PersonList)
    {

        <tr class="cellcolor">
            <td align="center" style="color:lightgray" >

                @Html.ActionLink("Detail", "Detail", new { ID = item.ID }) |
                @Html.ActionLink("Update", "Update", new { ID = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { ID = item.ID })
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.DOB.Date
            </td>
            <td>
                @item.IsToMe
            </td>

        </tr>
    }
  </tbody>
</table>

