@using FamilyTree.Models
@model FamilyTree.Models.PersonModelList

@{
    ViewBag.Title = "Your Family";

}
@Scripts.Render("~/Content/Site.css")

<style>
    th, td {
        text-align: left;
        padding: 6px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    tr:nth-child(old) {
        background-color: #d3d3d3
    }
    tr:hover {
        background-color: #dcdcdc;
    }
    th {
        font-family: Verdana,Arial,sans-serif;
        background-color: #A52F2A;
        color: #ffffff;
    }
</style>
<h4>Family Member List</h4>

<table class="table">
  <thead>
    <tr>
        <th></th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            BirthDay
        </th>
        <th>
            Relationship
        </th>

    </tr>
  </thead>
    <tbody>
  
    @foreach (var item in Model.PersonList)
    {

        <tr class="cellcolor">
            <td align="center" style="color:lightgray" >

                @Html.ActionLink("Detail", "Detail", new { FirstName = item.FirstName}) |
                @Html.ActionLink("Update", "Update", new { FirstName = item.FirstName }) |
                @Html.ActionLink("Delete", "Delete", new { FirstName= item.FirstName })
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.DOB.Date
            </td>
            <td>
                @item.IsToMe
            </td>

        </tr>
    }
  </tbody>
</table>

