@using FamilyTree.Models
@using FamilyTree.Models.Enums
@model FamilyTree.Models.PersonModel

@{
    ViewBag.Title = "Update Personal Info";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/datepicker.css" type="text/css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<script type="text/javascript">
    $(function () {
        $('#DOB').datepicker({
            format: "dd/mm/yyyy"
        });
    });
</script>



<div class="row">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Update Fmaily Member Info</legend>
            <div class="row">
                @Html.LabelFor(m => m.FirstName)               
                @Html.EditorFor(m => m.FirstName)

            </div>

            <div class="row">
                @Html.LabelFor(m => m.LastName)
                @Html.EditorFor(m => m.LastName)
            </div>


            <div class="row">
                @Html.LabelFor(m => m.DOB)
                @Html.EditorFor(m => m.DOB, new { htmlAttributes = new { @class = "form-control DOB" } })
              
             <!--  <input type="text" placeholder="click to show datepicker" id="DOB" style='width:200px;' />-->

            </div>

            <div class="row">
                @Html.LabelFor(m => m.IsToMe)
                @Html.EnumDropDownListFor(m => m.IsToMe, "Select Relationship")
            </div>

            <div class="row">
                <br />
                <input type="submit" value="Update" class="btn btn-default">
            </div>
        </fieldset>
    }

   
</div>
<br />
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>