@using FamilyTree.Models
@using FamilyTree.Models.Enums
@model FamilyTree.Models.PersonModel

@{
    ViewBag.Title = "Update Personal Info";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/datepicker.css" type="text/css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<script type="text/javascript">
    $(function () {
        $('#DOB').datepicker({
            format: "dd/mm/yyyy"
        });
    });

</script>

<link href="~/Content/Site.css" rel="stylesheet" />


    <div class="panel panel-primary">
        <div class="panel-body">
            <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> Update Fmaily Member Info </strong></h3>
            <p>

                
                    <div class="control-group">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)

                            <div class="editor-field">
                                @Html.LabelFor(m => m.FirstName)
                                @Html.EditorFor(m => m.FirstName)

                            </div>

                            <div class="editor-field">
                                @Html.LabelFor(m => m.LastName)
                                @Html.EditorFor(m => m.LastName)
                            </div>


                            <div class="editor-field">
                                @Html.LabelFor(m => m.DOB)
                                @Html.EditorFor(m => m.DOB, new { htmlAttributes = new { @class = "form-control DOB" } })

                                <!--  <input type="text" placeholder="click to show datepicker" id="DOB" style='width:200px;' />-->

                            </div>

                            <div class="editor-field">
                                @Html.LabelFor(m => m.IsToMe)
                                @Html.EnumDropDownListFor(m => m.IsToMe, "Select Relationship")
                            </div>

                            <div class="editor-field">
                                <br />
                                <input type="submit" value="Update" class="btn btn-default">
                            </div>
                        }
                    </div>

                <br />
                <br />
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

            </p>
        </div>
    </div>
  
       
